html {
  background-image: linear-gradient(to right top, #373971, #13568e, #0072a1, #008eaa, #00a8ac, #19b7ae, #36c6ad, #54d5aa, #75dfba, #92e9ca, #adf3da, #c8fcea);
  height: 100%;
}

body {
  margin: 0;
}