<mat-toolbar color="primary">
  <button mat-button class="home-button" routerLink="/">
    <mat-icon class="default-icon logo" size="large">diversity_3</mat-icon>
    <mat-icon class="hover-icon" size="large">home</mat-icon>
  </button>
  <span class="spacer"></span>
  <nav>
    @if (userService.getCurrentUser()) {
    <span class="mat-body-2 m-right-20">
      <img class="user-thumb" src="assets/images/user_thumbnail.jpg" alt="User Thumbnail">{{
      userService.getCurrentUser()!.fullName }}
    </span>
    }
    @if (userService.getCurrentUser()?.role === 'ADMIN') {
    <button mat-button [routerLink]="['/registered-users']" routerLinkActive="router-link-active">
      Registered Users
    </button>
    }
    <button mat-icon-button (click)="openAddUserModal()" appAnimatedTooltip="Add User">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Admin Settings" appAnimatedTooltip="Admin Settings">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @for (user of loggedInUsers; track trackByUserId) {
      <button mat-menu-item (click)="setCurrentUser(user.id)">
        <span>{{ user.fullName }}</span>
      </button>
      }
    </mat-menu>
  </nav>
</mat-toolbar>